{% render 'partials/head.liquid', title: 'Ad award', path: path %}

<main>
  <form method="POST" action="/nieuws-toevoegen">
    <label>
      title
      <input name="title" id="title" type="text">
    </label>
    <label>
      beschrijving
      <textarea id="description" name="description"></textarea>
    </label>
    <label>
      auteur
      <input id="author" name="author" type="text">
    </label>
    <label>
      datum
      <input id="date" name="date" type="date">
    </label>
    <label>
      publicatie
      <select id="status" name="status">
        <option>publish</option>
        <option>not published</option>
      </select>
    </label>
    <label>
      artikel
      <textarea id="body" name="body"></textarea>
    </label>
    <button>verzenden</button>
  </form>
</main>

{% render 'partials/footer.liquid' %}
