{% render 'partials/head.liquid', title: 'Ad award', path: path %}
<main>
  <section>
    <img src="assets/small-logo.svg" alt="mini logo">
    <h2>Landelijke Ad-overleggen en Ad-profielen</h2>
    <p>
      Het Overlegplatform Asssociate degrees onderstreept het belang voor Ad-opleidingen om zich samen te positioneren
      en te profileren in het Nederlandse onderwijslandschap. In een Landelijk Ad-overleg (LAdO) ontmoeten
      gemeenschappelijke Ad-opleidingen elkaar regelmatig om samen te werken aan landelijk herkenbare opleidingen met
      diploma’s die dezelfde maatschappelijke waarde vertegenwoordigen. Een goede afstemming is hiervoor noodzakelijk.
    </p>
  </section>
  <section>
    <img src="assets/small-logo.svg" alt="mini logo">
    <h2>Gezamenlijke profilering van vergelijkbare Ad-opleidingen</h2>
    <p>
      In een LAdO stemmen de aangesloten Ad-opleidingen met elkaar af over een gezamenlijke profilering om tot landelijk
      herkenbare opleidingen te komen. Deze profilering is richtinggevend voor (aankomende) studenten, werkgevers en
      kwaliteitstoetsing door de NVAO.
    </p>
    <p>
      De opleidingen in een LAdO kunnen samen besluiten om een eigen Landelijk Ad-opleidingsprofiel of Ad-domeinprofiel
      op te stellen en zich daartoe te verhouden met ruimte voor een eigen regionale profilering. Ook is het mogelijk om
      aan te sluiten bij een landelijk opleidings- of domeinprofiel van bacheloropleidingen waarin het Ad-niveau
      beschreven en gevalideerd is. Net zoals dat bij Landelijke bachelorprofielen het geval is.
    </p>
  </section>
  <section>
    <img src="assets/small-logo.svg" alt="mini logo">
    <h2>Ad-profielen</h2>
    <p>
      Landelijke Ad-opleidingsprofielen of Ad-domeinprofielen worden opgesteld door LAdO’s en worden vervolgens
      gevalideerd door relevante partners uit het werkveld en het onderwijs (net zoals dat bij landelijke opleidings- of
      domeinprofielen van bacherlors het geval is). Het Overlegplatform Associate degrees geeft vervolgens een advies
      over de duiding en onderbouwing van het Ad-niveau. De profielen worden vervolgens besproken in het desbetreffende
      sectoraal adviescollege en daarna vastgesteld door Vereniging Hogescholen en opgenomen in de profielenbank. Het
      LAdO zorgt ervoor dat de landelijke Ad-profielen regelmatig geactualiseerd worden. Zie voor meer informatie de
      Procedure Landelijke Ad-profielen waar ook een overzicht van vastgestelde Ad-profielen gegeven wordt.
    </p>
  </section>
  <section>
    <img src="assets/small-logo.svg" alt="mini logo">
    <h2>Gezamenlijke afstemming op het specifieke werkveld</h2>
    <p>
      In de afstemming op het specifieke werkveld heeft elke hogeschool met haar eigen regio te maken. Naast het
      inspelen op deze regionale vraag zal elke opleiding goed moeten aansluiten bij de vaak landelijk georganiseerde
      werkgeversorganisaties c.q. brancheorganisaties en beroepsverenigingen. Belangrijk is het daarbij om daarin samen
      op te trekken met vergelijkbare Ad-opleidingen. In de verschillende LAdO’s zijn de hiervoor genoemde
      gesprekspartners vaste gasten in de vergaderingen en brengen daar de actualiteiten uit het beroepenveld in. Dat
      geldt ook voor andere (landelijke) kennisorganisaties uit de betreffende branche, maar ook
      arbeidsmarktonderzoeksinstellingen, uitgevers en ontwikkelaars van onderwijsmateriaal zijn doorgaans welkome
      gasten bij deze overleggen. Afspraken over beroepsregistraties en cao-gerelateerde zaken kunnen in een LAdO
      collectief geregeld worden.
    </p>
  </section>
  <section>
    <img src="assets/small-logo.svg" alt="mini logo">
    <h2>Gezamenlijke afstemming op andere (overheids)organen</h2>
    <p>
      Om goed verbonden te zijn met landelijke ontwikkelingen in het onderwijsveld zal in de LAdO ’s regelmatig
      afstemming zijn met het NVAO over accreditaties, zeker als die clustergewijs plaatsvinden. De NVAO geeft op haar
      website informatie over de procedure wijziging van visitatiegroepen. Ook de afstemming met het ministerie van OCW
      en de Commissie Doelmatigheid Hoger Onderwijs (CDHO) kan vaak goed in gezamenlijkheid worden georganiseerd. De
      opleidingen kunnen doorgaans veel van elkaar leren als het gaat om vernieuwingen zoals de pilot flexibilisering en
      andere (wettelijk verankerde) ontwikkelingen in het hoger onderwijs.
    </p>
  </section>
  <section>
    <img src="assets/small-logo.svg" alt="mini logo">
    <h2>Onderlinge uitwisseling en afstemming over onderwijsuitvoering</h2>
    <p>
      In de ontwikkeling van opleidingen valt er veel te leren van elkaar. Dit geldt in het bijzonder voor
      Ad-opleidingen als relatief nieuw fenomeen in het hbo. Ook benchmarken met vergelijkbare Europese
      EQF-5-opleidingen kan een verrijking zijn.
    </p>
    <p>
      In de doorontwikkeling van Ad-opleidingen is afstemming over bijvoorbeeld niveau en de aansluiting bij de
      specifieke doelgroepen gewenst. Daarbij kun je ook denken aan leren van elkaar rond borging en toetsing
      eindniveau, externe validering, regelingen rond praktijkleren en het gebruik van digitaal onderwijsmateriaal uit
      de sector. Uitwisseling kan ook in themabijeenkomsten.
    </p>
  </section>
  <section>
    <embed
      src="assets/lado.pdf"
      width="1000"
      height="575"
      type="application/pdf"
    >
    <a
      class="link-button"
      href="assests/lado.pdf"
      download="2025-03-11-Overzicht-LAdO-PlatformAd.pdf"
      >download de pdf</a
    >
  </section>
</main>
{% render 'partials/footer.liquid' %}
